/* FLEX CENTER */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* BUTTON */
.btn {
  min-width: 15rem;
  display: inline-block;
  padding: 1.2rem;
  border-radius: $br;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  align-items: center;
  &-dark {
    @extend .btn;
    background: $dark;
    color: $light;
    border: 1px solid $dark;
  }
  &-light {
    @extend .btn;
    background: transparent;
    color: $dark;
    border: 1px solid $dark;
  }
  &-green {
    @extend .btn;
    background: $green;
    color: $light;
    border: 1px solid $green;
  }
  &-red {
    @extend .btn;
    background: $red;
    color: $light;
    border: 1px solid $red;
  }
}

/* MAIN BLOC */
.main-container {
  height: 90%;
  background: $back;
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.small-container {
  height: 90%;
  background: $back;
  width: 50%;
  margin: auto;
  padding: 2rem;
}

/* BLOC TITLE */
.title {
  // only title
  text-transform: uppercase;
  text-align: center;
}
h2.title {
  font-size: 3rem;
}
h3.title {
  font-size: 2rem;
  margin: 1rem;
}
h4.title {
  margin: 1rem;
  font-size: 1.6rem;
}
.title-date-status {
  // title with date/deadline and status
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  h2 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  .date {
    margin: 0 2rem;
  }
}
.title-add {
  // title with btn add
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  h2 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  h3,
  h4,
  h5 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  i {
    font-size: 2rem;
  }
}

/* SPECIAL MESSAGE */
.warning {
  // error or warning
  color: $red;
  font-weight: 700;
  text-align: center;
}

.empty {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 4rem;
  p {
    margin: 1rem;
  }
}

.passed {
  color: $red;
  font-weight: 700;
  a {
    color: $red;
  }
}
.bloc-gray {
  background: $gray;
  color: $dark;
}
.forToday {
  color: $orange;
  font-weight: 700;
  a {
    color: $orange;
  }
}

/* LOADING */
.loading {
  @extend .flex-center;
  height: 100%;
  img {
    width: 7rem;
    height: 7rem;
  }
}

/* FORMS */
.myForm {
  margin: auto;
  height: 94%;
  .item-name {
    text-align: center;
    input[type="text"] {
      width: 30rem;
      height: 3.5rem;
      font-family: $text;
      padding: 0.5rem;
    }
  }
  .one-col,
  .two-col,
  .three-col {
    width: 100%;
    display: grid;
    gap: 2rem;
    margin: 3rem 0;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      label {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
      }
      input,
      select {
        height: 3.5rem;
        font-family: $text;
        padding: 0.5rem;
      }
      textarea.small {
        height: 10rem;
        font-family: $text;
        padding: 1rem;
      }
      textarea.medium {
        height: 15rem;
        font-family: $text;
        padding: 1rem;
      }
      textarea.large {
        height: 20rem;
        font-family: $text;
        padding: 1rem;
      }
      ul.check {
        // for radio/checkbox btn in list
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          label {
            font-size: 1.6rem;
            text-transform: lowercase;
            margin: auto 0.5rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            i {
              font-size: 2.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .one-col {
    grid-template-columns: 1fr;
  }
  .two-col {
    grid-template-columns: 1fr 1fr;
  }
  .three-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .one-btn {
    text-align: center;
  }
  .two-btn,
  .three-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .two-btn {
    justify-content: space-evenly;
  }
  .three-btn {
    justify-content: space-between;
  }
  .btn-dark {
    cursor: pointer;
  }
}
