/* FLEX CENTER */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* NO SCROLL */
.no-scroll {
  overflow: hidden;
}

/* MOBILE */
.mobile {
  display: none;
  @include mobile {
    display: initial;
  }
}
.desktop {
  @include mobile {
    display: none !important;
  }
}
/* BUTTON */
.btn {
  min-width: 15rem;
  display: inline-block;
  padding: 1.2rem;
  border-radius: $br;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  align-items: center;
  &-dark {
    @extend .btn;
    background: $dark;
    color: $light;
    border: 1px solid $dark;
  }
  &-light {
    @extend .btn;
    background: transparent;
    color: $dark;
    border: 1px solid $dark;
  }
  &-green {
    @extend .btn;
    background: $green;
    color: $light;
    border: 1px solid $green;
  }
  &-red {
    @extend .btn;
    background: $red;
    color: $light;
    border: 1px solid $red;
  }
}

/* MAIN BLOC */
.main-container {
  height: 90%;
  background: $back;
  width: 90%;
  margin: auto;
  padding: 2rem;
  @include mobile {
    height: 100%;
  }
}

.small-container {
  height: 90%;
  background: $back;
  width: 50%;
  margin: auto;
  padding: 2rem;
  @include mobile {
    height: 100%;
    width: 90%;
  }
}

/* BLOC TITLE */
.title {
  // only title
  text-transform: uppercase;
  text-align: center;
}
h2.title {
  font-size: 3rem;
}
h3.title {
  font-size: 2rem;
  margin: 1rem;
}
h4.title {
  margin: 1rem;
  font-size: 1.6rem;
}
.title-date-status {
  // title with date/deadline and status
  display: grid;
  grid:
    "title date status" auto
    / 1fr auto auto;
  align-items: center;
  @include mobile {
    grid:
      "title status" auto
      "date date" auto
      / 1fr auto;
  }
  h2 {
    grid-area: title;
    text-transform: uppercase;
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .date {
    grid-area: date;
    margin: 0 2rem;
    @include mobile {
      text-align: center;
      margin-top: 2rem;
    }
  }
  .status {
    grid-area: status;
  }
}
.title-add {
  // title with btn add
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  h2 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  h3,
  h4,
  h5 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  i {
    font-size: 2rem;
  }
}

/* SPECIAL MESSAGE */
.warning {
  // error or warning
  color: $red;
  font-weight: 700;
  text-align: center;
}

// for small list
.empty {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 4rem;
  p {
    margin: 1rem;
  }
  i {
    font-size: 5rem;
    margin: 3rem;
  }
  .add-btn {
    margin: 2rem;
  }
}

.passed {
  color: $red;
  font-weight: 700;
  a {
    color: $red;
  }
}
.bloc-gray {
  background: $gray;
  color: $dark;
}
.forToday {
  color: $orange;
  font-weight: 700;
  a {
    color: $orange;
  }
}

/* LOADING */
.loading {
  @extend .flex-center;
  height: 100%;
  img {
    width: 7rem;
    height: 7rem;
  }
}

/* FORMS */
.myForm {
  margin: auto;
  height: 100%;
  // display: grid;
  // grid-template-rows: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .item-name {
    text-align: center;
    input[type="text"] {
      width: 30rem;
      height: 3.5rem;
      font-family: $text;
      padding: 0.5rem;
    }
  }
  .one-col,
  .two-col,
  .three-col {
    width: 100%;
    display: grid;
    gap: 2rem;
    margin: 1rem 0;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      label {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
      }
      input,
      select {
        height: 3.5rem;
        font-family: $text;
        padding: 0.5rem;
      }
      textarea.small {
        height: 10rem;
        font-family: $text;
        padding: 1rem;
      }
      textarea.small-plus {
        height: 13rem;
        font-family: $text;
        padding: 1rem;
      }
      textarea.medium {
        height: 15rem;
        font-family: $text;
        padding: 1rem;
      }
      textarea.large {
        height: 20rem;
        font-family: $text;
        padding: 1rem;
      }
      ul.check {
        // for radio/checkbox btn in list
        list-style: none;
        align-items: center;
        li {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          label {
            font-size: 1.6rem;
            text-transform: lowercase;
            margin: auto 0.5rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            i {
              font-size: 2.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
      ul.check-one {
        @extend .check;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      ul.check-two {
        @extend .check;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 0 2rem;
        align-items: center;
        li {
          width: 100%;
          display: grid;
          grid:
            "input icon" auto
            "type type" auto
            / 1fr 1fr;
          align-items: center;
          input[type="radio"] {
            grid-area: input;
            justify-self: end;
            margin-right: 1rem;
          }
          label.text {
            grid-area: type;
            font-size: 1.3rem;
            justify-self: center;
          }
          label.icon {
            grid-area: icon;
            justify-self: start;
            i {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .one-col {
    grid-template-columns: 1fr;
  }
  .two-col {
    grid-template-columns: 1fr 1fr;
  }
  .three-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .one-btn {
    text-align: center;
  }
  .two-btn,
  .three-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .two-btn {
    justify-content: space-evenly;
  }
  .three-btn {
    justify-content: space-between;
  }
  .btn-dark,
  .btn-red {
    cursor: pointer;
  }
}

/* LIST */
.my-list {
  width: 100%;
  list-style: none;
  display: grid;
  overflow: auto;
  gap: 2rem;
  @include mobile {
    grid-template-columns: 1fr !important;
    max-height: initial !important;
    height: auto !important;
  }
  li {
    border-radius: $br;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    align-items: center;
    @extend .bloc-gray;
    @include mobile {
      grid-template-columns: auto 1fr 1fr;
    }
    .one i {
      font-size: 4rem;
    }
    .two {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      .name {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .project {
        font-weight: 300;
        font-size: 1.3rem;
        font-style: italic;
        margin-top: 0.5rem;
        margin-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .three {
      justify-self: end;
      text-align: right;
    }
    &.passed-bloc {
      background: $red;
      color: $light;
      a {
        color: $light;
      }
    }
    &.forToday-bloc {
      background: $orange;
      color: $light;
      a {
        color: $light;
      }
    }
  }
}
